# === Git ===
.git

# === Python ===
__pycache__/
*.py[cod]
*.so
*.log

# === Virtual Environments ===
.venv/
venv/
env/

# === Dotenv / Local Environment Files ===
.env
.env.*
*.local

# === Dagster ===
*.dagster/
cam_on_dagster_dbt/jobs/.dlt/
cam_on_dagster_dbt/jobs/.dlt/secrets.toml

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === VS Code ===
.vscode/

# === DB / DuckDB ===
*.duckdb
*.db

# === Docker ===
.docker/
docker-compose.override.yml

# === DBT ===
dbt/profiles.yml
dbt/dbt_packages/

# === Google Cloud / Secrets ===
keys/
keys/credentials.json
*.json