# === Git ===
.git

# === Python ===
__pycache__/
*.py[cod]
*.so
*.log

# === Virtual Environments ===
.venv/
venv/
env/

# === Dotenv / Local Environment Files ===
.env
.env.*
*.local

# === Dagster ===
*.dagster/
dagster_cam/.dlt/secrets.toml
dagster_cam/.dlt/config.toml


dagster_cam/.dlt/*/load
dagster_cam/.dlt/*/normalize
dagster_cam/.dlt/*/trace.pickle
dagster_cam/.dlt/.anonymous_id
# === Jupyter Notebooks ===
.ipynb_checkpoints/ 

# === VS Code ===
.vscode/

# === DB / DuckDB ===
*.duckdb
*.db

# === Docker ===
.docker/
docker-compose.override.yml

# === DBT ===
dbt/profiles.yml
dbt/dbt_packages/

# === Google Cloud / Secrets ===
keys/
keys/credentials.json
keys/dagster-sa-key.json

request_cache/*
!request_cache/.gitkeep
